<div class="featured-product group flex flex-col justify-between items-center text-center h-[300px] sm:h-[400px] md:h-[25vw] w-1/2 md:w-1/4 hover:w-1/2 hover:md:w-1/4">
<div class="transform bg-revenge4 h-[300px] sm:h-[400px] md:h-[25vw] w-full hover:w-1/2 hover:md:w-1/4 border border-revenge2 hover:md:h-[30vw] hover:shadow-lg hover:absolute origin-top hover:z-10">
  <div class="w-full text-right">
    <button class="wishlist-btn" data-product-id="{{ product.id }}">
      Ajouter aux favoris
    </button>
  </div>
  <a href="{{ product.url }}"> 
    <div class="relative flex flex-col items-center justify-center flex-grow">
      <img src="{{ product.featured_image | img_url: 'medium' }}" class="h-[170px] w-[170px] md:h-[15vw] md:w-[15vw] object-cover" alt="{{ product.title }}" width="" height="">
      
      <!-- Conteneur pour le titre et le prix -->
      <div class=" md:opacity-0 group-hover:opacity-100 p-2 flex flex-col justify-between h-[90px] md:">
        <h3>{{ product.title }}</h3>
        <p>{% render 'price', product: product, price_class: '', show_compare_at_price: true %}</p>
      </div>
    </div>
  </a>
  </div>
</div>      