<section class="md:px-[30px] py-[24px] md:py-[72px] space-y-6 md:space-y-24 flex flex-col justify-center bg-revenge3">
    <div class="space-y-2 md:space-y-12 text-center">
      <h4 class="a-h4 text-revenge2">{{ section.settings.description }}</h4>
      <h2 class="a-h2 text-revenge2">{{ section.settings.titre }}</h2>
    </div>

  <div class="flex md:flex-col justify-center items-center space-x-[0]">
    {% assign collections_list = 'accessoires,ceintures-bretelles,chaussures-cie,pret-a-porter,maroquinerie,revenge-pour-elle' | split: ',' %}
    <div class="flex flex-wrap justify-center m-0 max-w-[600px] md:max-w-[1000px]">
      {% for collection_handle in collections_list %}
        {% assign my_collection = collections[collection_handle] %}
        <a href="{{ my_collection.url }}" class="block">
          <div class="text-center text-revenge2 border border-revenge2 flex flex-col items-center px-4 md:py-16 m-4 space-y-16 md:space-y-32 w-[150px] md:w-[250px] h-[220px] md:h-[320px]">
            <img class="w-64 md:w-48" src="{{ my_collection.featured_image | img_url: 'medium' }}" width="" height="" alt="{{ my_collection.title }}">
            <span class="a-btn1 border-transparent md:leading-[3rem]">
              {{ my_collection.title }}
            </span>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
    {
      "name": "a-all-categories",
      "settings": [
        {
          "type": "text",
          "id": "titre",
          "label": "Titre"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        }
      ]
    }
{% endschema %}