<section class="absolute border border-red-500">

<h2>Ton super panier ! ({{ cart.item_count }})</h2>

{% if cart.empty? %}

    <p>Ton panier est vide...</p>

{% else %}
  {% form 'cart', cart %}
    {% for item in cart.items %}
      <div class="border border-black flex">
        <img src="{{ item.image | img_url: '200x' }}" alt="{{ item.title }}" width="" height="">
        <div class="flex flex-col">
          <h3>{{ item.product.title }}</h3>
          <!-- <p>{{ item.variant.title }}</p> -->
          <a href="{{ item.url_to_remove }}">enlever</a>
          <p>{% render 'price', product: item.product, price_class: '', show_compare_at_price: true %}</p>
          <p>{{ item.final_line_price | money }}</p>
          <span>Quantité : <input name="quantity" value="{{ item.quantity }}"></span>
        </div>
      </div>
    {% endfor %}

    <p>Réduction : {{ cart.total_discount }}</p>
    <p>Total : {{ cart.total_price | money }}</p>
    <button type="submit" name="checkout">checkout</button>
  {% endform %}
{% endif %}

</section>

{% schema %}
{
  "name": "Cart drawer",
  "settings": []
}
{% endschema %}
